################### {Beat} Configuration Example #########################

############################# {Beat} ######################################

speedbeat:
  # Defines how often an event is sent to the output
  period: 2h
